.header {
    background-image: url("../Assets/mile1-assets/home-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.header-container {
    width: 30%;
    margin: auto;
}

.header-container img {
    width: 80%;
}

h1 {
    color: white;
    font-size: 2rem;
}

.header-container button {
    font-size: 1rem;
    background-color: #FDC913;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
}

.orderPizza-header {
    background-color: #CE2829;
}

.orderPizza-header-container {
    width: 30%;
    margin: auto;
}

.orderPizza-header-container img {
    width: 80%;
}

.orderPizza-header-container nav {
    color: white;
}

.orderPizza-header-container nav a{
    color: white;
    text-decoration: none;
}

.orderPizza-main-container {
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
}

div {
    border: 1px solid black;
}